<div class="open-q">
  <div class="open-grid">

    <!-- LEFT -->
    <div class="pane">
<!--      <div class="pane-title">Your answer</div>-->
      <div class="grade-bar" *ngIf="isManualGrading() && gradingEnabled">
        <div class="grade-label">{{ 'OPEN_QUESTION.SCORE' | translate }}</div>

        <div class="grade-input">
          <input
            *ngIf="locked"
            class="score-input"
            type="number"
            [(ngModel)]="scoredPoints"
            (ngModelChange)="emitState()"
            [min]="0"
            [max]="maxPoints"
            placeholder="0"
          />
          <span class="grade-max">/ {{ maxPoints }}</span>
        </div>

        <button type="button" class="lock-btn" (click)="toggleLock()"
                *ngIf="!locked" [disabled]="!gradingEnabled">
          {{ 'OPEN_QUESTION.LOCK_GRADE' | translate }}
        </button>
      </div>

      <textarea
        class="user-text"
        [(ngModel)]="text"
        (ngModelChange)="emitState()"
        [disabled]="locked"
        [placeholder]="'OPEN_QUESTION.PLACEHOLDER' | translate"
      ></textarea>
    </div>

    <!-- RIGHT -->
    <div class="pane suggested-pane" [class.visible]="locked">
      <div class="pane-title">{{ 'OPEN_QUESTION.SUGGESTED_ANSWER' | translate }}</div>

      <div class="suggested-box">
        <div [innerHTML]="suggestedAnswer | latex"></div>
      </div>
    </div>

  </div>
</div>
