<div class="dragdrop-wrapper">
  <div class="terms">
    <div
      class="term-box"
      *ngFor="let term of terms"
      [id]="term.id"
      cdkDropList="string[]"
      [cdkDropListData]="term.items"
      [cdkDropListConnectedTo]="connectedListIds"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="term-title">{{ term.label }}</div>
        <div
          class="draggable"
          *ngFor="let item of term.items"
          cdkDrag
          [cdkDragDisabled]="state?.answered"
          [class.correct]="isCorrectDefinition(term.id, item)"
          [class.incorrect]="isIncorrectDefinition(term.id, item)"
        > {{ item }}</div>
    </div>
  </div>

  <div class="definitions"
       id="definitions"
       cdkDropList="string[]"
       [cdkDropListData]="definitions"
       [cdkDropListConnectedTo]="connectedListIds"
       (cdkDropListDropped)="drop($event)">

    <div class="draggable"
         *ngFor="let d of definitions"
         cdkDrag
         [cdkDragData]="d">
      {{ d }}

      <!-- Drag preview template -->
      <ng-template cdkDragPreview>
        <div class="drag-preview">
          {{ d }}
        </div>
      </ng-template>
    </div>

  </div>
</div>
